@model ShoppingCartViewModel

<div class="row checkoutForm">
    <h2>Your shopping cart</h2>
    <h4>Here are the foods in your shopping cart.</h4>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Selected amount</th>
                <th>Food</th>
                <th class="text-right">Price</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var line in Model.ShoppingCart.Items.Where(s => s.IsDeleted == false))
            {
                <tr>
                    <td class="text-center">@line.Amount</td>
                    <td class="text-left">@line.Food.Name</td>
                    <td class="text-right">@line.Food.Price.ToString("c")</td>
                    <td class="text-right">
                        @((line.Amount * line.Food.Price).ToString("c"))
                    </td>
                   
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.ShoppingCartTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Check out</a>
            @*
            <a class="btn-group">
                <p class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Add more foods<span class="caret"></span>
                </p>
                <ul class="dropdown-menu" role="menu">
                 @foreach (var category in Model.ShoppingCart.Items)
                {
                 <li>
                   <a asp-controller="Food" asp-action="All"
                   asp-route-category="@category?.Food?.Category?.CategoryName">@category?.Food?.Category?.CategoryName</a>
               </li>
                }
                </ul>
            </a>
            *@
        </div>
    </div>
</div>



